# Android Studio
.idea/
.gradle/
*.iml
*.log
local.properties

# Android/IntelliJ specific
.idea/workspace.xml
.idea/libraries/
.idea/tasks.xml
.idea/gradle.xml
.idea/dictionaries/
.idea/vcs.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Android specific
.gradle/
build/
captures/
.externalNativeBuild/

# Keystore files
*.jks

# Personal configuration files (Mac)
.DS_Store

# Personal configuration files (Windows)
Thumbs.db

# Other global directories
# For example: ../../OneDrive/
